<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <ul class= "nav navbar-nav navbar-left">
    <li>
      <%= link_to "Rails Tutorial by Mickael Hartl", "http://railstutorial.org/" %>
    </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "About", static_pages_about_path%></li>
      <li><%= link_to "Contact", static_pages_contact_path%></li>
      <li><%= link_to "News", "http://news.railstutorail.org/"%></li>
    </ul>
  </div>
</nav>