<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
    <div class="navbar-footer">
      <a class="nav navbar-text railstuto" href="http://railstutorial.org/">Rails Tutorial by Mickael Hartl</a>
      <div class="nav navbar-nav navbar-right" id="railstutolink">
        <li><%= link_to "About", about_path%></li>
        <li><%= link_to "Contact", contact_path%></li>
        <li><%= link_to "News", "http://news.railstutorail.org/"%></li>
      </div>
    </div>
  </div>
</nav>